.featured-coctail-section {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
}
.featured-coctail-section::after {
  position: absolute;
  content: "";
  background-color: #257972;
  width: 100%;
  height: 41px;
}
.featured-coctail-section::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  background-image: url("assets/header_bg.png");
  background-repeat: repeat-x;
  background-size: contain;
  height: 150px;
  width: 100%;
  z-index: 1111;
}

.featured-anim-banner,
.featured-anim-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Bebas Neue", cursive;
}
.featured-anim-banner {
  scroll-snap-align: start;
}

.featured-anim-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.featured-anim-content {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  /*max-height: 960px;*/
  overflow: hidden;
}
.content-inner {
  display: block;
  width: 100%;
  height: 100%;
}
.content-wrap {
  margin: auto;
  position: relative;
  display: block;
  max-width: 1440px;
  width: 100%;
  height: 100%;
}

.bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#content_miami .bg {
  background-color: #ef5da8;
}
#content_miami .featured-coctail {
  color: #c0f3d4;
}
#content_miami .txt-top {
  color: #ffffff;
}
#content_miami .txt-middle {
  color: #c0f3d4;
}
#content_miami .txt-bottom {
  color: #ffffff;
}
#content_miami .ingredients {
  color: #c0f3d4;
  width: 560px;
}

#content_florida .bg {
  background-color: #c0f3d4;
}
#content_florida .featured-coctail {
  color: #257972;
  left: 100px;
}
#content_florida .txt-top {
  color: #ef5da8;
  left: 158px;
  /*top: -8px;*/
}
#content_florida .txt-middle {
  color: #257972;
  /*top: 40px;*/
}
#content_florida .txt-bottom {
  color: #ef5da8;
  right: 94px;
}
#content_florida .ingredients {
  color: #257972;
  left: 100px;
  /*width: 420px;*/
}

#content_colada .bg {
  background-color: #257972;
}
#content_colada .featured-coctail {
  color: #c0f3d4;
}
#content_colada .txt-top {
  color: #ffffff;
}
#content_colada .txt-middle {
  color: #c0f3d4;
}
#content_colada .txt-bottom {
  color: #ffffff;
  right: 236px;
}
#content_colada .ingredients {
  color: #c0f3d4;
  left: 132px;
}

.featured-coctail {
  position: absolute;
  left: 130px;
  top: 66px;
  top: 15%;
  font-size: 96px;
  line-height: 1;
}
.coctail-name {
  position: absolute;
  display: block;
  width: 100%;
  height: 550px;
  /*top: 266px;*/
  top: 50%;
  margin-top: -230px;
}
.txt-top {
  position: absolute;
  top: 0;
  left: 280px;
  font-size: 158px;
  line-height: 1;
}
.txt-middle {
  position: absolute;
  top: 26px;
  width: 100%;
  text-align: center;
  font-size: 509px;
  line-height: 1;
}
.txt-bottom {
  position: absolute;
  bottom: 0;
  right: 146px;
  font-size: 158px;
  line-height: 1;
}
.ingredients {
  position: absolute;
  left: 150px;
  /*bottom: 106px;*/
  /*bottom: 5%;*/
  bottom: 0;
  width: 520px;
  font-size: 30px;
  line-height: 30px;
  text-align: left !important;
}

#content_miami .coctail {
  position: absolute;
  right: 32px;
  top: 176px;
  top: 50%;
  margin-top: -350px;
  right: 35%;
  margin-right: -450px;
  width: 800px;
  height: 800px;
  background-image: url("assets/zombie_sprite.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 50%;
  transform: scale(1) !important;
}
#content_florida .coctail {
  position: absolute;
  right: 92px;
  top: 94px;
  top: 50%;
  margin-top: -400px;
  right: 35%;
  margin-right: -450px;
  width: 900px;
  height: 900px;
  background-image: url("assets/florida_sprite.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 50%;
  transform: scale(1) !important;
}
#content_colada .coctail {
  position: absolute;
  right: 112px;
  top: 78px;
  top: 50%;
  margin-top: -350px;
  right: 35%;
  margin-right: -450px;
  width: 800px;
  height: 800px;
  background-image: url("assets/colada_sprite.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 50%;
  transform: scale(1) !important;
}

@media (max-width: 1279.98px) {
  .featured-coctail {
    font-size: 76px;
    left: 5% !important;
  }
  .coctail-name {
    height: 380px;
    margin-top: -150px;
  }
  .txt-top {
    font-size: 120px;
    left: 10% !important;
  }

  .txt-middle {
    top: 0;
    font-size: 380px;
  }
  .txt-bottom {
    font-size: 120px;
    right: 10% !important;
  }
  .ingredients {
    left: 10% !important;
    font-size: 22px;
    line-height: 22px;
    max-width: 400px;
  }

  #content_miami .featured-coctail {
  }
  #content_miami .txt-top {
  }
  #content_miami .txt-bottom {
  }

  #content_florida .featured-coctail {
    /*left: 100px;*/
  }
  #content_florida .txt-top {
    /*left: 158px;*/
  }
  #content_florida .txt-bottom {
    /*right: 94px;*/
  }
  #content_florida .ingredients {
    /*left: 100px;*/
  }

  #content_colada .txt-top {
  }
  #content_colada .txt-bottom {
    /*right: 236px;*/
  }
  #content_colada .ingredients {
    /*left: 132px;*/
  }

  #content_miami .coctail {
    transform: scale(0.8) !important;
    margin-top: -400px;
  }
  #content_florida .coctail {
    transform: scale(0.8) !important;
    margin-top: -400px;
  }
  #content_colada .coctail {
    transform: scale(0.81) !important;
    margin-top: -400px;
  }
}

@media (max-width: 991.98px) {
  .featured-coctail {
    font-size: 56px;
    left: 5% !important;
  }
  .coctail-name {
    height: 320px;
    margin-top: -130px;
  }
  .txt-top {
    font-size: 90px;
    left: 10% !important;
  }

  .txt-middle {
    top: 15px;
    font-size: 300px;
  }
  .txt-bottom {
    font-size: 90px;
    right: 10% !important;
  }
  .ingredients {
    left: 10% !important;
    font-size: 22px;
    line-height: 22px;
    max-width: 300px;
  }

  #content_miami .ingredients {
    font-size: 20px;
    line-height: 20px;
    max-width: 400px;
  }

  #content_miami .coctail {
    transform: scale(0.7) !important;
    margin-top: -400px;
  }
  #content_florida .coctail {
    transform: scale(0.7) !important;
    margin-top: -400px;
  }
  #content_colada .coctail {
    transform: scale(0.71) !important;
    margin-top: -400px;
  }

  .coctail {
    right: 25% !important;
  }
}

@media (max-width: 767.98px) {
  .featured-coctail {
    top: 80px;
    font-size: 56px;
    left: 5% !important;
  }
  .coctail-name {
    width: 100%;
    height: 100%;
    top: 0px;
    margin-top: 0;
    /*height: 320px;*/
    /*margin-top: -130px;*/
  }
  .txt-top {
    margin-top: 180px;
    font-size: 90px;
    left: 10% !important;
  }

  .txt-middle {
    margin-top: 180px;
    top: 15px;
    font-size: 230px;
  }
  .txt-bottom {
    top: 170px;
    margin-top: 180px;
    bottom: auto;
    font-size: 90px;
    right: 10% !important;
  }
  .ingredients {
    left: 10% !important;
    font-size: 22px;
    line-height: 22px;
    max-width: 300px;
    bottom: 30px;
  }

  #content_miami .ingredients {
    font-size: 22px;
    line-height: 22px;
    /*max-width: 400px;*/
  }

  #content_miami .coctail {
    right: 43% !important;
    margin-top: -360px;
    transform: scale(0.8) !important;
  }
  #content_florida .coctail {
    right: 35% !important;
    margin-top: -400px;
    transform: scale(0.7) !important;
  }
  #content_colada .coctail {
    right: 43% !important;
    margin-top: -360px;
    transform: scale(0.71) !important;
  }
}

@media (max-width: 575.98px) {
  .featured-coctail-section::after {
    height: 0;
  }
  .featured-coctail-section::before {
    top: 0;
  }

  .featured-anim-content {
    width: 100vw;
    max-height: 100vh;
    /*height: calc(100% - 80px);*/
  }
  .content-inner {
    padding: 0 0 80px 0;
  }
  .featured-coctail {
    position: absolute;
    left: 32px !important;
    top: 75px;
    font-size: 40px;
    line-height: 1;
  }
  .coctail-name {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0px;
    margin-top: 0;
  }
  .txt-top {
    position: absolute;
    top: 0 !important;
    margin-top: 124px;
    left: 44px !important;
    font-size: 60px;
    line-height: 1;
  }
  .txt-middle {
    position: absolute;
    top: 28px;
    margin-top: 124px;
    width: 100%;
    text-align: center;
    font-size: 136px;
    line-height: 1;
    padding-left: 10px;
  }
  .txt-bottom {
    position: absolute;
    top: 124px;
    margin-top: 124px;
    bottom: auto;
    right: auto !important;
    left: 44px;
    font-size: 60px;
  }
  .ingredients {
    position: absolute;
    left: 30px !important;
    bottom: 40px;
    width: 280px;
    font-size: 21px;
    line-height: 21px;
  }

  #content_miami .ingredients {
    font-size: 18px;
    line-height: 18px;
    max-width: 260px;
  }

  #content_miami .coctail {
    right: 63% !important;
    margin-top: -380px;
    transform: scale(0.67) !important;
  }
  #content_florida .coctail {
    right: 35% !important;
    margin-top: -420px;
    transform: scale(0.6) !important;
  }
  #content_colada .coctail {
    right: 73% !important;
    margin-top: -380px;
    transform: scale(0.62) !important;
  }
}