@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .will-transform {
    will-change: transform;
  }
  .svg-brandDark {
    filter: invert(42%) sepia(11%) saturate(2353%) hue-rotate(126deg)
      brightness(89%) contrast(85%);
  }
  .svg-black {
    filter: invert(100%);
  }
  .svg-none {
    filter: none;
  }
}

::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.marquee-container {
  overflow-x: visible !important;
}
