@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .will-transform {
    will-change: transform;
  }
  .svg-brandDark {
    filter: invert(42%) sepia(11%) saturate(2353%) hue-rotate(126deg)
      brightness(89%) contrast(85%);
  }
  .svg-black {
    filter: invert(100%);
  }
  .svg-none {
    filter: none;
  }
  .flip {
    transform: scale(-1, 1);
  }
  .straight {
    transform: scale(1);
  }
  .flip-vertical {
    transform: scaleY(-1);
  }
  .straight-vertical {
    transform: scaleY(1);
  }
  .right-block-gray::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    transform: translateX(100%);
    @apply bg-gray-100;
  }
}

/* ::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

input,
textarea,
button,
select,
img,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.rotate-glass {
  transform: rotate3d (1, -1, 1, 60deg);
}
