@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .will-transform {
    will-change: transform;
  }
  .svg-brandDark {
    filter: invert(42%) sepia(11%) saturate(2353%) hue-rotate(126deg)
      brightness(89%) contrast(85%);
  }
  .svg-black {
    filter: invert(100%);
  }
  .svg-none {
    filter: none;
  }
}

::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

input,
textarea,
button,
select,
img,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.marquee-container {
  overflow-x: visible !important;
}

.rotate-glass {
  transform: rotate3d (1, -1, 1, 60deg);
}
