.hamburger {
  width: 60px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg) scale(0.65);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .hamburger {
    transform: rotate(0deg) scale(0.75);
  }
}

/* Icon 2 */

.hamburger span {
  display: block;
  position: absolute;
  height: 6px;
  width: 50%;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.hamburger span:nth-child(even) {
  left: 50%;
}

.hamburger span:nth-child(odd) {
  left: 0px;
}

.hamburger span:nth-child(1),
.hamburger span:nth-child(2) {
  top: 0px;
}

.hamburger span:nth-child(3),
.hamburger span:nth-child(4) {
  top: 18px;
}

.hamburger span:nth-child(5),
.hamburger span:nth-child(6) {
  top: 36px;
}

.hamburger.open span:nth-child(1),
.hamburger.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger.open span:nth-child(2),
.hamburger.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hamburger.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

.hamburger.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

.hamburger.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.hamburger.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.hamburger.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

.hamburger.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}
