.footer__grid {
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-areas:
      "text text"
      "contact address"
      "hours ."
      "social social";
  }
  @media screen and (min-width: 1024px) {
    grid-template-areas:
      "text text text"
      "contact address hours"
      "social social social";
    grid-column-gap: 7rem;
  }
  @media screen and (min-width: 1280px) {
    grid-template-areas:
      "text contact hours"
      "text address hours"
      "social social social";
    grid-column-gap: 7rem;
  }
}

.footer__text {
  @media screen and (min-width: 768px) {
    grid-area: text;
  }
}

.footer__contact {
  @media screen and (min-width: 768px) {
    grid-area: contact;
  }
}

.footer__address {
  @media screen and (min-width: 768px) {
    grid-area: address;
  }
}

.footer__hours {
  @media screen and (min-width: 768px) {
    grid-area: hours;
  }
}

.footer__social {
  @media screen and (min-width: 768px) {
    grid-area: social;
  }
}

.secondary__footer__grid {
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-areas:
      "sweet tos privacy"
      "glassFull glassFull glassFull";
    row-gap: 1rem;
    justify-content: space-between;
  }
  @media screen and (min-width: 1024px) {
    grid-template-areas: "sweet sweet tos privacy glassFull glassFull glassFull";
    align-items: center;
  }
}

.sweet__link {
  grid-area: sweet;
}

.tos__link {
  grid-area: tos;
}

.privacy__link {
  grid-area: privacy;
}

.glass__full {
  grid-area: glassFull;
  justify-self: flex-end;
}
